@font-face {
  font-family: aeonik;
  font-family: 200;
  src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: aeonik;
  font-family: 700;
  src: url(./AeonikTRIAL-Bold.otf);
}
@font-face {
  font-family: aeonik;
  font-family: 500;
  src: url(./AeonikTRIAL-Regular.otf);
}
:root {
  --pri:#FFFCB8;
  --sec:#9112BC;
  --trie1:#AE75DA;
  --trie2:#E9E294;
  --green:rgb(10, 194, 10);
  --blue:rgb(83, 83, 233);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
  color: var(--pri);
}

html, body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  height: 100%;
  background-color: var(--sec);
  color: var(--pri);
}
#main nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: var(--trie2);
}
#main section.allitems {
  height: 100%;
  width: 100%;
  padding: 40px;
  padding-top: 80px;
  overflow: auto;
  position: absolute;
}
#main section.allitems header {
  height: 270px;
  width: 100%;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyzoBhUzYT7GKMi6XHFp-bpsX_qceo73l6HA&s);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}
#main section.allitems header .header1 h1 {
  font-size: 80px;
  font-weight: 700;
}
#main section.allitems header .header1 h4 {
  font-size: 40px;
  font-weight: 500;
}
#main section.allitems header .header1 h2 {
  font-weight: 500;
  margin-bottom: 15px;
}
#main section.allitems header .header2 h2 {
  font-size: 40px;
  font-weight: 700;
}
#main section.allitems header .header2 h4 {
  font-size: 30px;
  font-weight: 500;
}
#main section.allitems header .header2 h3 {
  font-size: 15px;
  font-weight: 500;
  opacity: 0.8;
}
#main section.allitems .allFeatures {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}
#main .elem {
  background-color: rgb(244, 228, 6);
  box-shadow: 0px 0px 5px 5px goldenrod;
  font-size: 30px;
  height: 270px;
  width: 250px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.3s;
}
#main .elem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#main .elem h3 {
  position: absolute;
  bottom: 4%;
  right: 5%;
  font-weight: 500;
  font-size: 30px;
}
#main .elem:active {
  scale: 0.97;
}
#main section.fullelem {
  width: 100%;
  height: 100%;
  background-color: var(--sec);
  padding: 40px;
  display: none;
  position: absolute;
  justify-content: space-between;
}
#main section.fullelem .btn1 {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  font-size: 30px;
  box-shadow: 0 0 12px 12px rgb(181, 120, 221);
  position: absolute;
  right: 5%;
  top: 5%;
}
#main section.fullelem .btn1:active {
  scale: 0.95;
}
#main section.todo-fullpage {
  font-size: 50px;
}
#main section.todo-fullpage .todo-container {
  height: 80%;
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#main section.todo-fullpage .todo-container .addTask {
  width: 32%;
  background-color: var(--trie1);
  height: 100%;
  border-radius: 20px;
}
#main section.todo-fullpage .todo-container .addTask .mark-imp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 10px;
  margin-bottom: 20px;
  width: 100%;
  gap: 30px;
}
#main section.todo-fullpage .todo-container .addTask .mark-imp input {
  scale: 1.7;
}
#main section.todo-fullpage .todo-container .addTask .mark-imp label {
  font-size: 21px;
}
#main section.todo-fullpage .todo-container .addTask form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
#main section.todo-fullpage .todo-container .addTask form input#task-input {
  padding: 15px 25px;
  width: 100%;
  font-size: 25px;
  background-color: var(--pri);
  border-radius: 6px;
  color: var(--sec);
  font-weight: 300;
  outline: none;
  margin-bottom: 20px;
}
#main section.todo-fullpage .todo-container .addTask form input#task-input::-moz-placeholder {
  color: rgba(76, 3, 75, 0.611);
  font-weight: 100;
}
#main section.todo-fullpage .todo-container .addTask form input#task-input::placeholder {
  color: rgba(76, 3, 75, 0.611);
  font-weight: 100;
}
#main section.todo-fullpage .todo-container .addTask form textarea {
  padding: 15px 25px;
  width: 100%;
  font-size: 25px;
  background-color: var(--pri);
  border-radius: 6px;
  color: var(--sec);
  font-weight: 300;
  outline: none;
  margin-bottom: 20px;
}
#main section.todo-fullpage .todo-container .addTask form textarea::-moz-placeholder {
  color: rgba(60, 5, 65, 0.611);
  font-weight: 100;
}
#main section.todo-fullpage .todo-container .addTask form textarea::placeholder {
  color: rgba(60, 5, 65, 0.611);
  font-weight: 100;
}
#main section.todo-fullpage .todo-container .addTask form #btn {
  padding: 15px 25px;
  width: 100%;
  font-size: 25px;
  font-weight: 600;
  background-color: rgb(252, 228, 11);
  border-radius: 6px;
  color: var(--trie1);
  transition: all ease 0.5s;
  outline: none;
  margin-bottom: 20px;
  border: none;
}
#main section.todo-fullpage .todo-container .addTask form #btn:active {
  scale: 0.95;
}
#main section.todo-fullpage .todo-container .allTask {
  width: 67%;
  background-color: var(--trie1);
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  align-items: flex-start;
  overflow: auto;
}
#main section.todo-fullpage .todo-container .allTask .task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--trie2);
  border-radius: 10px;
  padding: 20px 30px;
  margin-bottom: 10px;
}
#main section.todo-fullpage .todo-container .allTask .task > h5 {
  color: var(--sec);
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}
#main section.todo-fullpage .todo-container .allTask .task > h5 span {
  background-color: red;
  color: var(--pri);
  font-size: 10px;
  padding: 3px 5px;
  border-radius: 10px;
}
#main section.todo-fullpage .todo-container .allTask .task > h5 span.true {
  opacity: 1;
}
#main section.todo-fullpage .todo-container .allTask .task > h5 span.false {
  opacity: 0;
}
#main section.todo-fullpage .todo-container .allTask .task .mark {
  background-color: green;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
#main section.todo-fullpage .todo-container .allTask .task .delete {
  background-color: red;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
#main section.daily-fullpage h2 {
  font-size: 70px;
}
#main section.daily-fullpage .day-planner {
  background-color: var(--trie1);
  height: 80%;
  margin-top: 40px;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  overflow: auto;
}
#main section.daily-fullpage .day-planner .day-planner-time {
  display: flex;
  align-items: center;
  position: relative;
  width: 49%;
  margin-bottom: 15px;
}
#main section.daily-fullpage .day-planner .day-planner-time input {
  padding: 20px 40px;
  background-color: var(--sec);
  border-radius: 5px;
  border: none;
  font-size: 30px;
  padding-top: 32px;
  outline: none;
  width: 100%;
}
#main section.daily-fullpage .day-planner .day-planner-time p {
  position: absolute;
  top: 12%;
  left: 1%;
  font-size: 15px;
}
#main section.moti-fullpage {
  position: relative;
}
#main section.moti-fullpage .moti-fullpage-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main section.moti-fullpage .moti-fullpage-container .moti-container {
  height: 500px;
  width: 80%;
  position: relative;
  border-radius: 50px;
}
#main section.moti-fullpage .moti-fullpage-container .moti-container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 50px;
  scale: 1.15;
  background-color: var(--pri);
  z-index: 8;
  filter: blur(70px);
}
#main section.moti-fullpage .moti-fullpage-container .moti-container .moti-wrapper {
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: var(--trie2);
  border: 3px solid var(--sec);
  border-radius: 40px;
  padding: 15px;
}
#main section.moti-fullpage .moti-fullpage-container .moti-container .moti-wrapper img {
  position: absolute;
  right: 5%;
  top: 5%;
  opacity: 0.3;
  height: 120px;
}
#main section.moti-fullpage .moti-fullpage-container .moti-container .moti-wrapper .moti1 {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#main section.moti-fullpage .moti-fullpage-container .moti-container .moti-wrapper .moti1 h2 {
  font-size: 40px;
  font-weight: 500;
  text-align: right;
  padding: 30px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  background-color: var(--trie1);
}
#main section.moti-fullpage .moti-fullpage-container .moti-container .moti-wrapper .moti2 {
  padding: 10px;
}
#main section.moti-fullpage .moti-fullpage-container .moti-container .moti-wrapper .moti2 h1 {
  font-size: 60px;
  font-weight: 700;
  color: var(--sec);
  margin-top: 20px;
}
#main section.moti-fullpage .moti-fullpage-container .moti-container .moti-wrapper .moti3 {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#main section.moti-fullpage .moti-fullpage-container .moti-container .moti-wrapper .moti3 h2 {
  font-size: 40px;
  font-weight: 500;
  text-align: right;
  padding: 30px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  background-color: var(--trie1);
}
#main section.pomo-fullpage h2 {
  font-size: 50px;
}
#main section.pomo-fullpage .session {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--green);
  padding: 10px 30px;
  font-size: 30px;
  border-radius: 10px;
}
#main section.pomo-fullpage .pomo-timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#main section.pomo-fullpage .pomo-timer h1 {
  font-size: 160px;
}
#main section.pomo-fullpage .pomo-timer button {
  background-color: var(--trie2);
  padding: 15px 40px;
  font-size: 20px;
  box-shadow: 4px 4px 0 black;
  border-radius: 15px;
  border: none;
  margin: 10px;
  transition: all ease 0.3s;
}
#main section.pomo-fullpage .pomo-timer button:active {
  scale: 0.95;
  box-shadow: 0 0 0;
}
#main section.pomo-fullpage .pomo-timer button.start {
  color: blue;
}
#main section.pomo-fullpage .pomo-timer button.stop {
  color: red;
}
#main section.pomo-fullpage .pomo-timer button.reset {
  color: green;
}/*# sourceMappingURL=styles.css.map */